#widget-950be0ec-863a-bf75-6ba8-c3509f78a789 .widget-content {
			height: auto;
		}
		#widget-950be0ec-863a-bf75-6ba8-c3509f78a789 .header-image {
			top: 0px;
			left: 0px;
			width: 920px;
		}#widget-950be0ec-863a-bf75-6ba8-c3509f78a789 .header-logo {
				top: 24px;
				left: 9px;
			}#widget-950be0ec-863a-bf75-6ba8-c3509f78a789 .header-subtitle {
				top: 191px;
				left: 136px;
			}
			#widget-950be0ec-863a-bf75-6ba8-c3509f78a789 .header-subtitle a {
				color: #111A46;
				font-weight: bold;
				font-size: 16px;
				font-style: normal;
				font-family: "Arial";
				text-decoration: none;
			}