
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 {
			text-align: left;
		}
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li > a {
			font-size: 14px;
			font-family: "Verdana";
			font-weight: normal;
			font-style: normal;
		}
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li > a .navigation-item-text {
			text-decoration: underline;
		}
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.selected > a .navigation-item-text,
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.childselected > a .navigation-item-text {
			font-weight: bold;
			font-style: normal;
			text-decoration: none;
		}
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li:hover > a .navigation-item-text {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
		}
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.selected:hover > a .navigation-item-text,
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.childselected:hover > a .navigation-item-text {
			font-weight: bold;
		}


		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 { background-color: ; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 > li > a { color: ;}
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 > li { background-color: ; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.selected > a, #widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.childselected > a { color: ; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.selected, #widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li.childselected { background-color: ; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 ul > li > a { color: ; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 ul > li { background-color: ; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li:hover > a { color:  !important; }
		#widget-9f604485-c5fc-eccb-88a5-1ea5c386ed89 li:hover { background-color:  !important; }
		